<template>
  <ul>
    <li v-for="msg in msgs" class="msg">
      <span :class="msg.type">{{ msg.formated }}</span>
    </li>
  </ul>
</template>

<script>
export default {
  data () {
    return {
      msgs: []
    }
  },
  methods: {
    addMsg (msg) {
      this.msgs.unshift(msg)
      this.$audio.play('chat')
      setTimeout(() => this.msgs.pop(msg), 5000)
    }
  },
  socket: {
    events: {
      'server_msg': function (msg) {
        console.log(msg.type, msg.text)
        msg.formated = `${this.$t(msg.type)}: ${this.$t(msg.text)}`
        this.addMsg(msg)
      },
      'add_chat_msg': function (data) {
        this.addMsg({
          formated: `${data.player}: ${data.msg}`,
          type: 'chat'
        })
      }
    }
  }
}
</script>

<style scoped lang="scss">
  ul {
    position: fixed;
    display: block;
    pointer-events: none;
    width: 100%;
    opacity: 0.9;
    top: 0;
    left: 0;
    z-index: 10;
  }
  .msg {
    span {
      display: inline-block;
      padding: 0.2rem 0.6rem;
      border-radius: 2px;
    }
  }
  .chat {
    background-color: #dddd6b;
    border: 2px solid #baba71;
  }
  .error {
    background-color: #ec3535;
    border: 2px solid #90191f;
  }
</style>
